**.bk
**.patch
**.diff
diff.**
tmp.**
**.tmp

**/*.bk
temp/**

**.swp
**.idea
**.ideas
idea.**
ideas.**

*/wips/**

# ignores reference files/folders (example code, help docs, etc. temporarily stored to help with building out code)
**/refs/**
**.ref

utils/trash/**
utils/diffpatches/archive/
