*.md
!README.md
**.bk
**.patch
**.diff
diff.**
tmp.**
**.tmp
tmp/

**/*.bk
temp/**

**.swp
**.swo
**.idea
**.ideas
idea.**
ideas.**

*/wips/**
**.idea
**.ideas
idea.**
ideas.**

*/wips/**

# ignores reference files/folders (example code, help docs, etc. temporarily stored to help with building out code)
**/refs/**
**-ref.zsh

utils/trash/**
utils/diffpatches/archive/

# want to ignore all but root level ".zsh" and highlighter ".zsh" files 
zsh.d/plugins/zsh-syntax-highlighting/**
#!/**/**.zsh
todo*.txt
