#############################
# Key Bindings
#############################

source /usr/share/fzf/shell/key-bindings.zsh 

# Default 
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'

# nord color scheme + no-height option
export FZF_DEFAULT_OPTS="
  --no-height
  --color=fg:#e5e9f0,bg:#3b4252,hl:#81a1c1 
  --color=fg+:#e5e9f0,bg+:#3b4252,hl+:#81a1c1
  --color=info:#eacb8a,prompt:#bf6069,pointer:#b48dac 
  --color header:italic
  --color=marker:#a3be8b,spinner:#b48dac,header:#a3be8b"


# CTRL-T
export FZF_CTRL_T_COMMAND='find $HOME -type f'
export FZF_CTRL_T_OPTS="  --preview 'bat -n --color=always {}'"

# ALT-C
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"


# CTRL-R
#   CTRL-/ to toggle small preview window to see the full command
export FZF_CTRL_R_OPTS="
  --preview 'echo {}' --preview-window up:3:hidden:wrap
  --bind 'ctrl-e:toggle-preview'
  --color header:italic
  --header 'Press CTRL-E to toggle preview in upper pane'"


#############################
# Functions/Aliases
#############################

# interactive ripgrep integration
#"rg_prefix='rg --column --line-number --no-heading --color=always --smart-case' \
#"    fzf --bind 'start:reload:$rg_prefix ""' \
#"        --bind 'change:reload:$rg_prefix {q} || true' \
#"        --bind 'enter:become(vim {1} +{2})' \
#"        --ansi --disabled \
#"        --height=50% --layout=reverse
#"


#############################
# Scripts/Widgets
#############################

#fzf-history-widget-accept() {
#  fzf-history-widget
#  zle accept-line
#}
#zle     -N     fzf-history-widget-accept
#bindkey '^X^R' fzf-history-widget-accept
